.primary-button {
  padding: $spacer-half $spacer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacer-half;
  color: $gray-500;
}

.primary-button:hover {
  color: $gray-700;
}

.button-transition {
  background-color: transparent;
  border: none;
  transition: background-color, color $transition-duration ease-in-out;
}