.input {
  padding: 0.6rem 1rem;
  border: 1px solid;
  border-color: $border-color;
  border-radius: $border-radius;
  outline: 1px solid rgba(0, 0, 0, 0);
  color: $gray-900;
  transition: all 0.15s ease-out;
  font-size: 1rem;
}

.input::placeholder {
  color: $gray-500;
}

.input:focus {
  // outline: 2px solid $primary-color;
  color: $gray-700;
  outline-color: $primary-color;
  border-color: $primary-color;
}

.input:hover {
  color: $gray-700;
  outline-color: $primary-color;
  border-color: $primary-color;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}