.nav {}

.nav__list {
  list-style: none !important;
  display: flex;
  flex-direction: column;
  gap: $spacer-half;
}

.nav__item {}

.nav__item--current {
  font-weight: 600;
  color: $primary-color;
}

.nav__link {
  display: inline-flex;
  // width: 100%;
  text-decoration: none !important;
  color: inherit;
  transition: color $transition-duration ease-in-out;
}

.nav__link:hover {
  color: $primary-color;
}